.layout3 .content
{
    width:100vw;
    height: 100vh;
    background-color: #f27e7e;
    color: #068a9f;
    font-size: 1.8rem;
}
h1
{
    font-size: 1em;
}
.sidebar
{
    position:absolute;
    width: 295px;
    background:#000;
    height: 100%;
    top: 0;
    bottom: 0;
    padding: 30px 20px;
}